@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Design, Build, Test</p>
    <a asp-controller="Projects" asp-action="Index">Explore</a>
</div>
